/* fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* custom */
html {
  margin: 0 !important;
  height: 100%;
}

body {
  color: #eceff4;
  background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
  background-color: #d09693;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
}

footer {
  visibility: hidden !important;
}

img.portrait {
  box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.1);
}

h1 {
  color: #964C7B;
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #2E3440;
}
a:hover {
  text-decoration: none;
  color: #4C566A;
}
a:focus {
  color: #EB64B9;
}

.child {
  width: 100% !important;
  clear: both;
}

.fa, .fab, .fal, .far, .fas {
  font-size: 32px;
  margin: 0 10px;
}
